In [2]:
import numpy as np
import pandas as pd

# Reads

In [3]:
# Original data set: ~/Documents/BCEM/Tesis-maestria/Datos/norm_counts.profile
reads = pd.read_table('mcnulty-datasets/reads.tsv', index_col=0)
reads

,01-01,01-02,01-03,01-05,01-07,01-10,01-12,01-13,01-15,01-16,...,15-27,15-29,15-30,15-31,15-33,15-35,15-38,15-40,15-41,15-42
name,,,,,,,,,,,,,,,,,,,,,
B_caccae,6581.3,16753.9,20944.5,20945.4,10145.1,8934.0,11038.2,9829.0,18002.8,24973.4,...,27524.4,6238.1,17059.6,15132.0,46866.2,47229.6,52108.0,60357.1,33688.9,57836.1
B_cellulosilyticus_WH2,8823.2,40690.9,63087.5,120582.5,45214.9,7183.0,33209.8,44957.8,47547.4,21869.8,...,109106.1,8080.8,10936.3,8245.2,37008.4,32391.5,45301.3,35537.0,10929.2,12759.2
B_ovatus,10751.7,27653.7,25690.8,29712.0,11304.7,904.6,12536.7,14105.3,13155.2,5452.6,...,47964.0,2799.4,1233.5,287.6,862.7,1059.0,1113.7,1313.5,990.5,2468.1
B_thetaiotaomicron,4151.9,12870.7,24935.7,35765.9,13906.9,2423.5,9148.6,9462.1,10126.3,12373.1,...,15263.9,3988.4,9000.5,7262.3,23224.2,19954.8,27766.5,34519.5,30956.7,42735.6
B_uniformis,1023.3,1066.9,3261.1,7482.4,3394.4,771.4,3581.4,3552.0,4398.3,3415.5,...,12947.4,1065.8,2621.0,1769.2,5211.0,4107.3,6252.3,5491.3,4225.7,11461.7
B_vulgatus,87112.3,27895.8,21950.1,33730.1,16341.4,6046.3,7601.6,8245.9,18523.3,16784.2,...,48576.1,11219.4,19250.7,9319.3,35302.7,42325.8,48971.4,69236.7,33986.8,56665.0
C_aerofaciens,81.3,1237.0,2356.6,2947.7,1385.8,89.2,1052.2,1050.4,517.6,1545.0,...,900.4,315.8,461.9,309.3,150.9,290.5,233.1,155.7,251.8,931.7
C_scindens,4595.3,3298.5,2936.9,3211.7,1514.9,382.1,1963.8,1199.9,720.0,2324.0,...,3290.7,1500.4,1766.2,2148.7,2020.5,3221.0,2069.7,2043.9,4661.8,10082.9
C_spiroforme,32.9,720.1,1559.6,641.3,68.8,135.9,79.2,14.3,26.0,24.7,...,57.6,20.8,21.6,23.4,164.4,285.6,126.4,175.3,208.2,191.3
D_longicatena,275.9,38.4,2.5,0.4,0.7,0.0,0.4,0.4,0.0,0.0,...,40.9,2.5,3.6,3.6,7.1,10.3,10.7,17.4,5.0,7.1
P_distasonis,129.1,435.7,2531.7,9796.6,4695.7,180.5,3781.8,4129.0,6442.0,7885.0,...,7412.4,2096.8,3636.5,1734.1,3543.7,3753.9,5752.6,6512.6,4644.7,6632.9
R_obeum,369.4,7101.9,16337.1,18450.6,8392.1,372.5,9050.3,4697.0,2752.4,3003.7,...,11137.9,1800.9,1352.6,936.7,854.2,1156.9,774.5,979.6,3048.0,5381.9

# Metadata

In [5]:
metadata = reads.T.copy()
metadata['sampleID']=metadata.index
metadata = metadata.loc[:, 'sampleID'].str.split('-', expand=True)
metadata.reset_index(inplace=True)
metadata.columns = ['sampleID', 'subject', 'time']
metadata.set_index('sampleID', inplace=True)
metadata = metadata[metadata['time'] != 'CEC']
metadata['time'] = metadata['time'].astype(float)
metadata['subject'] = metadata['subject'].astype(int)
# metadata.to_csv('mcnulty-datasets/metadata.tsv', sep='\t')
metadata

          subject  time
sampleID
01-01           1   1.0
01-02           1   2.0
01-03           1   3.0
01-05           1   5.0
01-07           1   7.0
...           ...   ...
15-35          15  35.0
15-38          15  38.0
15-40          15  40.0
15-41          15  41.0
15-42          15  42.0

[375 rows x 2 columns]

# DNA yields (proxy to qPCR)

In [17]:
dna_yields_ = pd.read_excel('COPROseq_rawcounts_and_DNA_yields.xlsx', sheet_name='DNA_yields')
dna_yields_

     Mouse    Day  DNA Yield (ug)
0        1      1            5.57
1        2      1            6.60
2        3      1            5.03
3        4      1            2.30
4        5      1            1.99
..     ...    ...             ...
385     11  cecum            5.09
386     12  cecum            5.25
387     13  cecum            4.46
388     14  cecum            4.97
389     15  cecum            5.85

[390 rows x 3 columns]

In [60]:
dna_yields = dna_yields_.copy()
dna_yields.sort_values(by=['Mouse', 'Day'], inplace=True)
dna_yields['sampleID'] = dna_yields['Mouse'].astype(str) + '-' + dna_yields['Day'].astype(str)
dna_yields['sampleID'] = dna_yields['sampleID'].str.replace('cecum', 'CEC')
to_replace = {'^1-':'01-', '^2-':'02-', '^3-':'03-', '^4-':'04-', '^5-':'05-', '^6-':'06-', '^7-':'07-', '^8-':'08-', '^9-':'09-',
              '-1$':'-01', '-2$':'-02', '-3$':'-03', '-4$':'-04', '-5$':'-05', '-6$':'-06', '-7$':'-07', '-8$':'-08', '-9$':'-09'}
dna_yields['sampleID'] = dna_yields['sampleID'].replace(to_replace=to_replace, regex=True)
dna_yields = dna_yields[dna_yields['Day'] != 'cecum']
dna_yields = dna_yields.loc[:,['sampleID', 'DNA Yield (ug)']]
dna_yields.set_index('sampleID', inplace=True)
dna_yields.columns = ['measurement1']
dna_yields.to_csv('mcnulty-datasets/dna_yields.tsv', sep='\t')
dna_yields

          measurement1
sampleID
01-01             5.57
01-02             9.31
01-03            23.62
01-05            17.69
01-07            19.06
...                ...
15-35            19.99
15-38            22.28
15-40            21.85
15-41             7.24
15-42             5.34

[375 rows x 1 columns]

# Perturbations

In [62]:
perturbations = pd.read_table('mcnulty-datasets/perturbations.tsv', index_col=0)
perturbations

       start   end  subject
name
HF/HS    1.0  14.0        8
HF/HS    1.0  14.0        9
HF/HS    1.0  14.0       10
HF/HS    1.0  14.0       11
HF/HS    1.0  14.0       12
HF/HS    1.0  14.0       13
HF/HS    1.0  14.0       14
HF/HS    1.0  14.0       15
HF/HS   14.0  28.0        1
HF/HS   14.0  28.0        2
HF/HS   14.0  28.0        3
HF/HS   14.0  28.0        4
HF/HS   14.0  28.0        5
HF/HS   14.0  28.0        6
HF/HS   14.0  28.0        7
HF/HS   28.0  42.0        8
HF/HS   28.0  42.0        9
HF/HS   28.0  42.0       10
HF/HS   28.0  42.0       11
HF/HS   28.0  42.0       12
HF/HS   28.0  42.0       13
HF/HS   28.0  42.0       14
HF/HS   28.0  42.0       15

# Taxonomy

In [63]:
taxonomy = pd.read_table('mcnulty-datasets/taxonomy.tsv', index_col=0)
taxonomy

,sequence,kingdom,phylum,class,order,family,genus,species
name,,,,,,,,
B_caccae,GACAGTATATCTTATCTTTATGATGCTGCGGGCAGGAAACTCCGTA...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,caccae
B_cellulosilyticus_WH2,GAACTTTCCGATTTACCGACCCACATGCCAAGGACTTCTTTCAAAC...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,cellulosilyticus
B_ovatus,TGTAAATGACCGTAAGGCACAGCATGAAGGCCGATGGTGTGCAGGT...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,ovatus
B_thetaiotaomicron,TAGGTGCAGGTACAACTTTTGACCACTGTCAGGCATACTACGGTGA...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,thetaiotaomicron
B_uniformis,TCGTACTTGGTACGTTTGGTATGTAAAATCACCATCTACACCGGTA...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,uniformis
B_vulgatus,ATGTTTCATATGATTGAAAACGATCACGTCGTTTTATGGGGTCGTT...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Phocaeicola,vulgatus
C_aerofaciens,TTTCTATTTGCCATTCATACCACCTAGTCTCGTTTAAACAGGTCGC...,Bacteria,Actinobacteria,Coriobacteriia,Coriobacteriales,Coriobacteriaceae,Collinsella,aerofaciens
C_scindens,ATAAAATGGATATCATTCGCAAGTCAGCCCTTAGTCATTCATAGTC...,Bacteria,Firmicutes,Clostridia,Eubacteriales,Lachnospiraceae,Lachnoclostridium,scindens
C_spiroforme,CTGGAGCTGCTGAGGCTACAGTTATATCACAGTATGTATCTGGTAT...,Bacteria,Firmicutes,Erysipelotrichia,Erysipelotrichales,Erysipelotrichaceae,Erysipelatoclostridium,spiroforme
D_longicatena,AGAAAACTGATTTAATAATTCCTCAATCTTTGCCTGCAATTCCTCC...,Bacteria,Firmicutes,Clostridia,Eubacteriales,Lachnospiraceae,Dorea,longicatena
P_distasonis,ATGCAGACTGATTATCAAACATTGTGGAATAAGTGCCTTGCGGTCA...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Tannerellaceae,Parabacteroides,distasonis
R_obeum,TTTCCTATTACATAAAAAACGACCATACATCATGTACAGTCGTTTT...,Bacteria,Firmicutes,Clostridia,Eubacteriales,Lachnospiraceae,Blautia,obeum